form
  input(type='text', placeholder='Username')
  input(type='password', placeholder='Password')
  input(type='password', placeholder='Confirm password')
  button.btn.btn-positive.btn-block Sign up!
