<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nirnaor.kfir" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YontiMemory</name>
    <description>
        A memory game for students
    </description>
    <author email="nirnaori@gmail.com" href="http://com.nirnaor.yonti">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
