.bar-tab
  a.home.tab-item
    span.icon.icon-home  
    span.tab-label Home
  a.finish.tab-item
    span.icon.icon-check  
    span.tab-label Finish
  a.restart.tab-item
    span.icon.icon-refresh  
    span.tab-label Restart
