// $header_size: 60px;
// .bar-nav{
//   height: $header_size
// }
// .bar-nav ~ .content{
//   padding-top: $header_size;
// }
// .header .container{
//   padding-top: 19px;
// }

.icon-check{
  color: green;
}
.icon-close{
  color: red;
}

.answers{
  .answer, .attached_question{
    display: block;
    width: 80%;
  }

  .attached_question{
    width: 18%;
  }
}
