$header_size: 60px;
.bar-nav{
  height: $header_size
}
.bar-nav ~ .content{
  padding-top: $header_size;
}
.bar-nav .header-container{
  padding-top: 19px;
}

.question-icon.icon-check{
  color: green;
}

.icon-close{
  color: red;
}

.answers{
  .answer, .attached_question{
    display: block;
    width: 80%;
  }

  .attached_question{
    width: 18%;
  }
}

.errors{
  li{
    color: red;
  }
}


// Anchor is getting a default styling by ratchet so I'm overriding 
// just the google badge
a.badge.icomoon.icomoon-google.pull-right.google{
  padding: 7px;
}
