Sup
.content-padded
  p.
    All questions are coming from this Google spreadsheet.
    You can edit it by
  a.mail(href='#')  Mailing yourself the document
  p.
    Alternatively, you can use the Google sheets app to edit the document
    on your mobile device
  a(href='https://itunes.apple.com/il/app/google-sheets/id842849113?mt=8&uo=4', target='itunes_store') Download Google Sheets App
  p.
    If you already have the Sheets app installed, 
    on your mobile device
  a(href=url) Click here to open the app with the sheet.



iframe(single='true', height='620px', align='middle', width='100%', src=url, frameborder='0')
